.button {
  background-color: darkgreen;
  border-color: green;
  color: white;
  font-size: 1em;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}

.outlineButton {
  background-color: white;
  color: black;
  font-size: .8em;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
  border: 1px solid lightgrey;
}
