.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 1em;
    padding-bottom: 2em;
    border-bottom: 1px solid lightgrey;

  }

  .rowSelected {
    border-bottom: 1px solid green;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .column > p {
    margin: 0;
    font-size: .8em;
  }

  .title {
    color: grey;
  }

  .subtitle {
    font-weight: 700;
  }